:root {
	--sans: "Poppins", sans-serif;
	--heading: system-ui, "Segoe UI", Roboto, sans-serif;
}

img.logo {
	width: 100px;
	height: auto;
}

main.hero {
	min-height: 100vh;
	background: url("./assets/hero.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
